@model RevistPatientsModel
@using DMLAutomationProcess.Models
@{
    ViewBag.Title = "Revisit Op Dummy";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header" style="text-align:center">
                    <h3 class="box-title">Administrative tool not for end user use..! (Revisit Patients)</h3>
                    <br />
                    <div class="box-title" id="ShowMessgae" style="display:none;">
                        <div class="alert alert-success alert-dismissable">
                            <i class="fa fa-check"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <span id="DisShowMessgae"></span>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="box-body" style="height:1050px !important">
                    @*   <form asp-action="RevisitOpDummy" asp-controller="User" method="post"> *@
                    <div class="form-group">
                        @* <div class="col-md-1">
                        </div> *@
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="control-label">Department:</label>
                                @Html.DropDownListFor(model => model.DepartmentID, new SelectList(ViewBag.Departments, "Value", "Text"), new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off" }) <i></i>
                                @Html.ValidationMessageFor(model => model.DepartmentID, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label class="control-label">Running Unit:</label>
                                @Html.DropDownListFor(model => model.RUnitID, new SelectList(ViewBag.Units, "Value", "Text"), new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off" }) <i></i>
                                @Html.ValidationMessageFor(model => model.RUnitID, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        @* <div class="col-md-1">
                        </div> *@
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="control-label">From Department:</label>
                                @Html.DropDownListFor(model => model.FDepartmentID, new SelectList(ViewBag.Departments, "Value", "Text"), new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off" }) <i></i>
                                @Html.ValidationMessageFor(model => model.FDepartmentID, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="control-label">From Unit:</label>
                                @Html.DropDownListFor(model => model.FUnitID, new SelectList(ViewBag.Units, "Value", "Text"), new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off" }) <i></i>
                                @Html.ValidationMessageFor(model => model.FUnitID, null, new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        @* <div class="col-md-1">
                        </div> *@
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="control-label">Gender:</label>
                                @Html.DropDownListFor(model => model.GenderID, new SelectList(ViewBag.Genders, "Value", "Text"), new { @class = "form-control", @autofocus = "autofocus", @autocomplete = "off" }) <i></i>
                                @Html.ValidationMessageFor(model => model.GenderID, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="control-label">Date & Time:</label>
                                <input asp-for="VisitDate" class="form-control" type="datetime-local" value="@Model.VisitDate.ToString("yyyy-MM-ddTHH:mm:ss")" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        @* <div class="col-md-1">
                        </div> *@
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="control-label">From Date:</label>
                                <input asp-for="FromDate" type="date" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="control-label">To Date:</label>
                                <input asp-for="ToDate" type="date" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        @* <div class="col-md-1">
                        </div> *@
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="control-label">No. of Entries:</label>
                                <input asp-for="NoofEntries" id="NoofEntries" min="0" max="9999" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <br />
                    <!-- Total Entries Section -->
                    <div class="form-group">
                        @* <div class="col-md-1">
                        </div> *@
                        <div class="col-md-8" id="UpdateID">
                            @await Html.PartialAsync("_BindRevisitOpDummys")
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="input-group">
                            <label class="control-label">Total No. of Entries:</label>
                            <input asp-for="TotalEntries" id="TotalEntries" readonly="readonly" min="0" max="9999" class="form-control" />
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <br />
                    <!-- Action Buttons -->
                    <div class="form-group">
                        @* <div class="col-md-1">
                        </div> *@
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" id="FillToTemp">Fill to Temp</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" id="PopulatePatients">Populate Patients</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" id="closeWindow">Close</button>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <br />
                    @*   </form> *@
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        // setTimeout('$(".autohide").hide()', 5000);

        $('#viewOpSummary').click(function () {
            // Example: View OP summary
            alert('Viewing OP Summary.');
        });

        $('#closeWindow').click(function () {
            $("input[type='text']").val('');
        });

        $("#DepartmentID").change(function () {
            var departmentID = $("#DepartmentID option:selected").val();
            var departmentName = $("#DepartmentID option:selected").text();
            if (departmentID != null) {
                var ddlsource = "#RUnitID";
                var url = '@Url.Content("~/")' + "User/GetUnitNames";
                $.get(url, { departmentID: departmentID }, function (data) {
                    $(ddlsource).empty();
                    $("#RUnitID").val('');
                    $.each(data, function (index, optionData) {
                        $(ddlsource).append("<option value='" + optionData.value + "'>" + optionData.text + "</option>");
                    });
                    $("#FDepartmentID").val($("#DepartmentID").val());
                    $("#FUnitID").val($("#RUnitID").val());
                    if (departmentName == "Gynecology" || departmentName == "Obstetrics") {
                        $("#GenderID").val(2);
                    }
                });
            }
        });

        $('#FillToTemp').click(function () {
            var noofEntries = $("#NoofEntries").val();
            if (noofEntries != 0) {
                var FDepartmentID = $("#FDepartmentID option:selected").val();
                var FUnitID = $("#FUnitID option:selected").val();
                var genderID = $("#GenderID option:selected").val();
                var fromDate = $("#FromDate").val();
                var toDate = $("#ToDate").val();
                $.ajax({
                    url: '@Url.Action("GetOpDetailsByDate", "User")',
                    type: 'GET',
                    data: {
                        departmentID: FDepartmentID,
                        unitID: FUnitID,
                        genderID: genderID,
                        fromDate: fromDate,
                        toDate: toDate,
                        noofEntries: noofEntries
                    },
                    success: function (response) {
                        $("#UpdateID").html(response);
                        setTimeout('$(".autohide").hide()', 2000);
                    }
                });
            }
            else {
                alert('No of Entries is zero ! Means your not selected any department');
            }
        });

        $('#PopulatePatients').click(function () {
            var visitDate = $("#VisitDate").val();
            $.ajax({
                url: '@Url.Action("RevisitOpDummy", "User")',
                type: 'POST',
                data: {
                    visitDate: visitDate
                },
                success: function (response) {
                    //if (response == true) {
                    $("#ShowMessgae").show();
                    $("#DisShowMessgae").text("Process completed successfully !")
                    $("input[type='number']").val('0');
                    $("#UpdateID").html(response);
                    setTimeout('$(".autohide").hide()', 2000);
                    //}
                }
            });
        });

    </script>
}