@model ManageUserViewModel
@using DMLAutomationProcess.Models
@{
    ViewBag.Title = "change password";
}

<div class="login-page change_pswd">
    <div class="login-wrapper">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { }))
        {
            @Html.Partial("_Msg")
            @Html.HiddenFor(m => m.UserId, new { @Value = ViewBag.UserId })
            <h3 class="logintitle">Change Password</h3>
            <hr />
            <div class="form-group emailicon">
                <div class="controls">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @autocomplete = "off", @placeholder = "Current Password" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @autocomplete = "off", @placeholder = "New Password" })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @autocomplete = "off", @placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn loginbtn form-control">Confirm</button>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .emailicon {
        position: relative;
    }

    .change_pswd {
        padding: 0px 0;
        margin: 0 auto;
    }
</style>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $("body").addClass("modal-open", "");
        setTimeout('$(".autohide").hide()', 5000);
    </script>
}
